<footer class="Footer">
  <div class="Container Container-flex Container--smallMargin">
    <section class="Footer-links">
      {% for nav in site.data.navigation %}
        {% assign nav_page_url = nav.url | prepend: "/" | append: "/index.html" %}
        <a href="{{ site.github.url }}/{{ nav.url }}" {% if page.url == nav_page_url %} class="active" {% endif %}>{{ nav.name }}</a>
      {% endfor %}
    </section>

    <section class="Footer-social flex-right">
      <a href="http://joshfrankel.me/feed" aria-label="Subscribe to my Blog" title="Subscribe to my Blog" target="_blank"><i class="fas fa-rss-square" aria-hidden="true"></i></a>
      <a href="https://github.com/joshmfrankel" aria-label="My Github profile" title="My Github profile"><i class="fab fa-github-alt" aria-hidden="true"></i></a>
      <a href="https://rubyonrails-link.slack.com/messages/@joshmfrankel/" aria-label="My Ruby on Rails Slack account" title="My Ruby on Rails Slack account"><i class="fab fa-slack-hash" aria-hidden="true"></i></a>
      <a href="https://stackoverflow.com/users/906974/josh-frankel" aria-label="My StackOverflow profile" title="My StackOverflow profile"><i class="fab fa-stack-overflow" aria-hidden="true"></i></a>
      <a href="https://twitter.com/Joshmfrankel" aria-label="My Twitter profile" title="My Twitter profile"><i class="fab fa-twitter" aria-hidden="true"></i></a>
      <a href="https://www.linkedin.com/in/joshmfrankel/" aria-label="My LinkedIn profile" title="My LinkedIn profile"><i class="fab fa-linkedin" aria-hidden="true"></i></a>
    </section>
  </div>

  <div class="Footer-actions">
    <div class="Container Container--smallMargin">
      <section>
        <h3>Latest Posts</h3>
        <nav>
          {% for post in site.posts limit:3 %}
            <a href="{{ post.url }}">{{ post.title }}</a>
          {% endfor %}
        </nav>
      </section>

      <section class="Footer-actions-copyright">
        <p>© 2011-2020+ Josh Frankel. {{ site.title }}. All rights reserved</p>
      </section>
    </div>
  </div>
</footer>



