<footer class="Footer">
  <div class="Container Container-flex">
    <section class="Footer-links">
      {% for nav in site.data.navigation %}
        {% assign nav_page_url = nav.url | prepend: "/" | append: "/index.html" %}
        <a href="{{ site.github.url }}/{{ nav.url }}" {% if page.url == nav_page_url %} class="active" {% endif %}>{{ nav.name }}</a>
      {% endfor %}
    </section>

    <section class="Footer-social flex-right">
      <a href="https://github.com/joshmfrankel"><i class="fa fa-github-alt" aria-hidden="true"></i></a>
      <a href="https://rubyonrails-link.slack.com/messages/@joshmfrankel/"><i class="fa fa-slack" aria-hidden="true"></i></a>
      <a href="https://stackoverflow.com/users/906974/josh-frankel"><i class="fa fa-stack-overflow" aria-hidden="true"></i></a>
      <a href="https://twitter.com/Joshmfrankel"><i class="fa fa-twitter" aria-hidden="true"></i></a>
      <a href="https://www.linkedin.com/in/joshmfrankel/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
    </section>
  </div>

<!--     <div class="Gemstone">
      <i class="devicon-ruby-plain Gemstone Gemstone-gem Gemstone--main"></i>
      <i class="devicon-ruby-plain Gemstone Gemstone-gem Gemstone--side Gemstone--side--left"></i>
      <i class="devicon-ruby-plain Gemstone Gemstone-gem Gemstone--side Gemstone--side--right"></i>
    </div> -->

  <div class="Footer-actions">
    <div class="Container">
      <section>
        <h3>Latest Posts</h3>
        <nav>
          {% for post in site.posts limit:3 %}
            <a href="{{ post.url }}">{{ post.title }}</a>
          {% endfor %}
        </nav>
      </section>

      <section class="Footer-actions-copyright">
        <p>© 2017+ Josh Frankel. {{ site.title }}. All rights reserved</p>
      </section>
    </div>
  </div>
</footer>

