<header class="Container Container-flex">

  <a href="{{ site.github.url }}/" class="Logo-container">
    <img src="/img/layout/josh-frankel-author.jpg" class="Logo Logo-avatar" />
    <div class="Logo Logo-logo">
      <span class="Logo Logo-first-name">Development</span>
      <span class="Logo Logo-last-name">Simplified</span>
    </div>
  </a>

  <nav class="flex-right">
    {% for nav in site.data.navigation %}
      {% assign nav_page_url = nav.url | prepend: "/" | append: "/" %}
      <a href="{{ site.github.url }}/{{ nav.url }}" {% if page.url == nav_page_url %} class="active" {% endif %}>{{ nav.name }}</a>
    {% endfor %}
  </nav>
</header>
