html {
  // Allow rem to be sized similarly to px
  // https://snook.ca/archives/html_and_css/font-size-with-rem
  font-size: 62.5%;
}
body {
  border-top: 5px solid $primary-color;
}
h1 {
  font: normal 300 5.2rem/1.1 $lato;
}
h2,
p,
code {
  word-wrap: break-word;
}
h2 {
  color: $darker-gray-hover;
  font: normal 700 3.2rem/1 $lato;
  text-transform: capitalize;
  margin-top: 50px;

  // Legacy support for bootstrap styles
  small {
    color: lighten($darker-gray-hover, 10%);
    display: block;
    margin-top: 15px;
  }
}
h3 {
  color: $darker-gray-hover;
  font: normal 700 1.8rem/1 $lato;
  margin-top: 32px;
  text-transform:uppercase;
}
a {
  @extend .default-transition;

  color: $primary-color;
  border-bottom: 1px solid transparent;
  text-decoration: none;

  &:hover {
    color: $accent-color;
    border-bottom: 1px solid $accent-color;
  }
}
mark {
  background: none;
  color: #61b8d0;
  border-bottom: 1px dashed #61b8d0;
  cursor: help;
  font-style: italic;
}
p, blockquote, li {
  font: 300 2rem/32px $railway;
}
figure.highlight {
  font-size: 1.7rem
}
blockquote {
  color: $white;
  @extend .Info;

  p {
    color: $white;
    display: inline;

    &:before,
    &:after {
      font-size: 4.5rem;
      font-weight: 700;
      position: relative;
      top: 10px;
    }

    &:before {
      content: "“";
      margin-right: 3px;
    }
    &:after {
      content: "”";
      margin-left: 3px;
    }
  }
}
p {
  color: $p-color;
}
figure.highlight {
  margin: 0;
}

// Layout
body {
  @extend .flex-column;

  min-height: 100vh;
}
header {
  flex: none;
  padding: 15px;
}
.Content {
  flex: 1;
}
.Footer {
  @extend .flex-column;

  flex: none;
}

// Sort me
.tagline {
  color: $lighter-gray;
  font-style: italic;
  font-size: 13px;
}
