@mixin transition($duration: $default-transition, $type: all) {
  transition: $type $duration ease-in-out;
}
.default-transition {
  @include transition;
}
.flex-container {
  display: flex;
}
.flex-column {
  @extend .flex-container;
  flex-direction: column;
}
.flex-left {
  align-self: center;
  margin-right: auto;
}
.flex-right {
  align-self: center;
  margin-left: auto;
}
.circular-image {
  border-radius: 50%;
}
.remove-default-hover {
  border: none;
  &:hover {
    border: none;
  }
}
.expand-hover-border-from-center {
  @extend .remove-default-hover;

  &:after {
    @include transition($fast-transition, transform);

    display: block;
    content: "";
    border-bottom: 1px solid $accent-color;
    transform: scaleX(0);
    position: relative;
    top: 3px;
  }
  &:hover:after {
    transform: scaleX(1);
  }
}
.clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}
.preload-transitions * {
  $null-transition: none !important;

  -webkit-transition: $null-transition;
  -moz-transition: $null-transition;
  -ms-transition: $null-transition;
  -o-transition: $null-transition;
  transition: $null-transition;
}
.w-100 {
  width: 100%;
}
@mixin link-with-circle($size: 30px, $color: $accent-color) {
  border-radius: 50px;
  color: $color;
  display: inline-block;
  width: $size;
  height: $size;

  &:hover {
    background: lighten($color, 7%);
    color: #fff;
  }
}
