$lato: 'Lato', sans-serif;
$railway: 'Raleway', sans-serif;

$white: #fff;
$blue: #7cb8cc;
$glacier: #61b8d0;
$purple: #B388EB;
// #f6f6f6;
$lightest-gray: #f6f6f6; // #ededed
$slightly-lighter-gray: #eee;
$lighter-gray: #a6a6a6;
$light-gray: #565656;
$darker-gray: #6a6a6a;
$darker-gray-hover: #515151;
$medium-gray: #333;

$primary-color: $glacier;
$primary-inverse-color: $white;
$accent-color: $purple;
$header-color: $light-gray;
$p-color: $darker-gray-hover;

// h1 rgba(0,0,0,0.77)
