$lato: 'Lato', sans-serif;
$railway: 'Raleway', sans-serif;

// Primary colors
$white: #fefefe;
$glacier: #61b8d0;
$pale-night: #292d3e;
$pale-night-text: #697199;

// Color types
$pale-slighty-lighter-gray: #e1e1e1;
$pale-light-gray: #6c767e;

// Other
$lightest-gray-border: #e3e3e3;
$lightest-gray: #f5f5f5;
$slightly-lighter-gray: #eee;
$lighter-gray: #a6a6a6;
$light-gray: #565656;
$darker-gray: #6a6a6a;
$darker-gray-hover: #515151;
$medium-gray: #444;
$dark-blue: #273642;

// Theme colors
$primary-color: $glacier;
$primary-inverse-color: $white;
$accent-color: $pale-night;
$header-color: $light-gray;
$p-color: $darker-gray-hover;

// Transitions
$fast-transition: 150ms;
$default-transition: 250ms;
$long-transition: 350ms;

// Old Colors
// $blue: #7cb8cc;
// $purple: #B388EB;
