.p-2\.5 {
  padding: 10px;
}

.aspect-square {
  aspect-ratio: 1 / 1;
}

.mt-2 {
  margin-top: 8px;
}

.mr-8 {
  margin-right: 32px;
}

.ml-7 {
  margin-left: 28px;
}

/**
 * Typography
 **/

.text-right {
  text-align: right;
}

.-indent-7 {
  text-indent: -28px;
}
/**
 * Colors
 **/

.bg-accent {
  background-color: $accent-color;
}

.text-white {
  color: #fff;
}

.text-pale-night {
  color: $pale-night-text;
}

/**
 * Borders
 **/
.rounded-full {
  border-radius: 9999px;
}

/**
 * Flex
 **/
.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.inline-flex {
  display: inline-flex;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.items-end {
  align-items: flex-end;
}

.flex-even {
  flex: 1 1 0px;
}

/**
 * Transitions
 **/
.transition-opacity {
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.transition-colors {
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

/**
 * Sizing
 **/
.w-7 {
  width: 28px;
}
