.Author-container {
  @extend .flex-container;

  &:hover * {
    color: $darker-gray-hover;
  }
}
.Author {
  @extend .flex-column;
  @extend .transition;

  color: transparent;
  font: 32px/1 $lato;

  &-avatar {
    @extend .circular-image;

    border: 3px solid $white;
    box-shadow: 0 0 0 1px $lighter-gray;
    align-self: center;
  }
  &-logo {
    align-self: center;
    margin-left: 15px;
  }
  &-first-name {
    color: $lighter-gray;
    font-weight: 300;
  }
  &-last-name {
    color: $darker-gray;
    font-weight: 700;
  }
}
