.Author {
  @extend .flex-column;
  @extend .transition;

  color: transparent;
  font: 32px/1 $lato;

  &--first-name {
    color: $lighter-gray;
    font-weight: 300;
  }

  &--last-name {
    color: $darker-gray;
    font-weight: 700;
  }

  &:hover * {
    color: $darker-gray-hover;
  }
}
