.Container {
  width: 60%;
  margin: 60px auto;

  @media screen and (max-width: 1125px) {
    width: 80%;
  }

  &-flex {
    @extend .flex-container;
  }
  &--wrap {
    flex-wrap: wrap;
  }
  &--smallMargin {
    margin: 5px auto;
  }
  &--noMargin {
    margin: 0 auto;
  }
}
