.Footer {
  background: $lightest-gray;
  border-top: 1px solid $lightest-gray-border;
  margin-top: 100px;

  .Container {
    padding: 10px 0;
  }

  &-links {
    display: flex;
    flex: 1;
    font: 300 2.1rem/30px $railway, sans-serif;

    a {
      @extend .expand-hover-border-from-center;

      padding: 7px 10px;
    }
  }
  &-social {
    a {
      @extend .remove-default-hover;

      font-size: 2.8rem;
      padding: 0 7px;
    }
  }
  &-actions {
    background: $accent-color;
    text-align: left;

    h3 {
      color: $pale-slighty-lighter-gray;
      border-bottom: 1px solid $pale-light-gray;
      padding-bottom: 12px;
      padding-right: 35px;
      display: inline-block;
    }
    section {
      nav {
        a {
          @extend .remove-default-hover;

          font-size: 1.9rem;
          padding: 5px 0;
          display: block;

          &:hover {
            color: $pale-light-gray;
          }
        }
      }
    }
    &-copyright {
      border-top: 1px solid $pale-light-gray;
      margin-top: 50px;

      p {
        color: $pale-slighty-lighter-gray;
        font-size: 1.3rem;
        font-weight: 600;
        text-align: center;
      }
    }
  }

}
