.Footer {
  background: $lightest-gray;
  border-top: 1px solid $lightest-gray-border;
  height: 100px;
  margin-top: 100px;
  padding-top: 50px;
  text-align: center;

  &-links {
    display: flex;
    margin: -30px auto 0 auto;
    font: 300 2.1rem/30px $railway, sans-serif;
    position: relative;
    left: -5%;

    a {
      @extend .expand-hover-border-from-center;

      padding: 7px 10px;
    }
  }
  &-copyright {
    margin-top: auto;
    background: $primary-color;

    p {
      color: #fff;
      font-size: 1.2rem;
      font-weight: 600;
      margin: 10px 0;
    }
  }
}
