.Gemstone {
  font-size: 10.6rem;

  @media screen and (max-width: 900px) {
    display: none;
  }

  &-gem {
    float: left;
    margin-top: -100px;
    transform: rotate(20deg);
  }
  &--main {
    color: $primary-color;
    position: relative;
    z-index: 1;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 10px $primary-color;
    transition: all $default-transition linear;
  }
  &--side {
    color: $accent-color;
    font-size: 5.6rem;
    position: relative;
    z-index: 1;
    text-shadow: 0 0 5px #fff, 0 0 5px $accent-color;

    &--left {
      margin-left: -100px;
      margin-top: -25px;
    }
    &--right {
      margin-top: -82px;
      margin-left: -15px;
    }
  }
}
