.Home {
  h2 {
    margin-top: 0;
  }
  &-what-i-do {
  }
  &-skillset {
    background-color: $accent-color;
    color: $pale-slighty-lighter-gray;

    h2,
    p {
      color: $pale-slighty-lighter-gray;
    }

    h2 {
      border-bottom: 1px solid $pale-light-gray;
      padding-bottom: 12px;
      padding-right: 35px;
      display: inline-block;
    }
    i {
      @extend .default-transition;

      color: lighten($accent-color, 20%);
      font-size: 8.8rem;
      display: inline-block;
      padding: 20px;

      &:hover {
        color: lighten($accent-color, 30%);
      }
    }
  }
  &-open-source {
    background-color: $primary-color;
    color: $primary-inverse-color;

    h2 {
      color: $primary-inverse-color;
    }
    ul {
      padding: 0;

      li {
        list-style: none;
      }
    }
    p {
      margin: 10px 0;
    }
    p, a {
      color: $primary-inverse-color;
      font-size: 1.8rem;
    }
    a {
      border-bottom: none;
      vertical-align: bottom;

      &:hover {
        color: $pale-night;
        border-bottom: none;
      }
      i,
      svg {
        margin-right: 7px;
      }
    }
  }
  &-contact {
    background-color: $accent-color;
    color: $pale-slighty-lighter-gray;

    h2,
    p {
      color: $pale-slighty-lighter-gray;
    }
    h2 {
      margin-bottom: 35px;
    }
    a {
      border: none;
      color: $pale-night-text;
      font-size: 1.8rem;
      display: block;
      margin-bottom: 15px;

      &:hover {
        color: lighten($pale-night-text, 10%);
      }
    }
  }
}
