.Home {
  &-what-i-do {
    margin-top: 35px;
    margin-bottom: 5px;
  }
  &-skillset {
    background-color: $accent-color;
    color: $pale-slighty-lighter-gray;
    margin-top: 35px;
    padding-bottom: 45px;
    padding-top: 35px;

    h2,
    p {
      color: $pale-slighty-lighter-gray;
    }

    h2 {
      border-bottom: 1px solid $pale-light-gray;
      padding-bottom: 12px;
      padding-right: 35px;
      display: inline-block;
    }
    i {
      color: lighten($accent-color, 20%);
      font-size: 8.8rem;
      display: inline-block;
      padding: 20px;

      &:hover {
        color: lighten($accent-color, 30%);
      }
    }
  }
  &-about-me {
    padding-top: 35px;
    padding-bottom: 39px;
  }
  &-contact {
    background-color: $primary-color;
    color: $white;
    padding-top: 35px;
    padding-bottom: 36px;

    h2,
    p,
    a {
      color: $white;
    }
    h2 {
      margin-bottom: 35px;
    }
    a {
      border:none;
      font-size: 1.8rem;
      display: block;
      margin-bottom: 15px;

      &:hover {
        color: $accent-color;
      }
    }
  }
}
