$margin-spacing: 20px;

.Info {
  background-color: $primary-color;
  border-left: 5px solid darken($primary-color, 15%);
  border-radius: 5px;
  color: $lightest-gray;
  margin:0;
  padding:20px;

  &:before,
  &:after {
    content: "";
    display: none;
  }

  &-accent {
    background-color: $accent-color;
    border-left: 5px solid darken($accent-color, 15%);
  }
  &-left,
  &-right {
    @extend .clearfix;

    @media screen and (max-width: 697px) {
      width: 100%;
      float: none;
      margin: 0;
      box-sizing: border-box;
    }

    width: 300px;
  }
  &-left {
    margin-right: $margin-spacing;
    float: left;
  }
  &-right {
    margin-left: $margin-spacing;
    float: right;
  }
}
