$margin-spacing: 20px;

.Info {
  background-color: $primary-color;
  border-left: 5px solid darken($primary-color, 15%);
  color: $lightest-gray;
  margin:0;
  padding:20px;

  a {
    color: $white;
    font-weight: 700;

    &:hover {
      border-bottom: 1px solid $white;
    }
  }

  &--full {
    // margin-left: -33.3%;
    // width: 100%;
    // padding-left: 33%;
    // padding-right: 33%;
    padding-top: 40px;
    padding-bottom: 40px;
    font-style: italic;
    font-family: 'Lato';
    font-size: 24px;

    a {
      font-size: 20px;
      margin-top: 15px;
      display: inline-block;
    }

    svg {
      margin-right: 5px;
    }

    p {
      color: $lightest-gray;
      font: 300 italic 24px/1.5 $lato, sans-serif;
      margin: 0;
    }
  }

  &::before,
  &::after {
    content: "";
    display: none;
  }

  &-accent {
    background-color: $accent-color;
    border-left: 5px solid darken($accent-color, 15%);
  }
  &-left,
  &-right {
    @extend .clearfix;

    @media screen and (max-width: 697px) {
      width: 100%;
      float: none;
      margin: 0;
      box-sizing: border-box;
    }

    width: 300px;
    margin-bottom: 20px;
  }
  &-left {
    margin-right: $margin-spacing;
    float: left;
  }
  &-right {
    margin-left: $margin-spacing;
    float: right;
  }
}
