.Listing {
  &-title {
    letter-spacing: -0.2rem;
    margin-bottom: 0;

    a {
      @extend .remove-default-hover;
    }
  }
  &-subtitle {
    font: italic 300 1.9rem/30px $lato, sans-serif;
    margin-top:0;
  }
  &-date {
    font-weight: 700;
  }
  &-article {
    border-bottom: 1px solid $slightly-lighter-gray;
    padding-bottom:20px;
  }
  &-tags {
    a {
      @extend .inline-code;

      font: 300 1.7rem/30px "Raleway", sans-serif;

      &:hover {
        color: $accent-color;
        border: 1px solid darken($accent-color, 4%);
      }
    }
  }
}
