.Listing {
  &-title {
    letter-spacing: -0.2rem;
    margin-bottom: 0;

    a {
      @extend .remove-default-hover;
    }
  }
  &-category {
    font: italic 300 1.9rem/30px $lato, sans-serif;
    margin-top:0;
  }
  &-date {
    font-weight: 700;
  }
  &-content {
    p {
      margin-bottom: 15px;
    }
  }
  &-article {
    border-bottom: 1px solid $slightly-lighter-gray;
    padding-bottom:20px;
  }
  &-tags {
    a {
      font: 300 1.7rem/30px "Raleway", sans-serif;
      border:none;
      padding:0 3px;

      &:hover {
        color: $accent-color;
      }
    }
  }
}
