.Logo-container {
  @extend .flex-container;
  border-bottom: none;

  &:hover {
    border-bottom:none;

    .Logo-avatar {
      border: 3px solid $accent-color;
    }
  }

  &:hover * {
    color: $darker-gray-hover;
  }
}
.Logo {
  @extend .flex-column;
  @extend .default-transition;

  color: transparent;
  font: 32px/1 $lato;

  &-avatar {
    @extend .circular-image;
    @include transition($long-transition);

    border: 3px solid $white;
    box-shadow: 0 0 0 1px $lighter-gray;
    align-self: center;
  }
  &-logo {
    align-self: center;
    margin: 0 15px;
  }
  &-first-name {
    color: $lighter-gray;
    font-weight: 300;
  }
  &-last-name {
    color: $darker-gray;
    font-weight: 700;
  }
}
