nav {
  font: 300 1.9rem/30px $railway;

  a {
    padding: 15px 10px;
    border-bottom: 2px solid transparent;

    &.active {
      border-bottom: 2px solid lighten($primary-color, 5%);
    }
  }
}
