.Post {
  padding-top: 40px;
  width: 100%;

  p code {
    background-color: $accent-color;
    color: lighten($pale-night-text, 10%);
    border-radius: 2px;
    padding: 5px 5px 0 5px;
    margin: 0 2px;
  }
}
