.Series {

  &-section {
    background: $lightest-gray;
    border: 1px solid $darker-gray;
    padding: 20px;
  }

  ul {
    padding-left: 0;

    li {
      list-style: none;
    }
  }

  h2 {
    font-weight: 300;
    margin-top: 10px;
    text-transform: none;
  }
}
