.TooltipContainer {
  $root: &;
  position: relative;
  display: inline-block;

  &-text {
    background-color: lighten($accent-color, 20%);
    color: $pale-slighty-lighter-gray;
    border-radius: 5px;
    position: absolute;
    opacity: 0;
    text-align: center;
    transition: opacity 175ms;

    left: 0;
    right: 0;
    padding: 5px 7px;
    font-size: 1.2rem;

    &--top {
      top: 0;
    }
    &--bottom {
      bottom: 0;
    }
    &--post {
      bottom: 25px;
    }
  }

  &:hover #{$root}-text {
    opacity: 1;
  }
}
